# --------------------
# macOS
# --------------------
.DS_Store

# --------------------
# Python
# --------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# --------------------
# C / C++ / CMake
# --------------------
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
*.o
*.out
*.a
*.so
*.dylib

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Misc
# --------------------
*.swp

obsolete/
.env
code/LLM_annotations/.env/
**/.env

LLM_annotations/csv/metrics/ 
LLM_annotations/csv/llm_annotation_analysis_all/
LLM_annotations/csv/framing_csv/ 
LLM_annotations/csv/framing_analysis/
LLM_annotations/Provider-Notebooks/