# --------------------
# macOS
# --------------------
.DS_Store

# --------------------
# Python
# --------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# --------------------
# C / C++ / CMake
# --------------------
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
*.o
*.out
*.a
*.so
*.dylib

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Misc
# --------------------
*.swp
